@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 15px;
}

.hero{
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    width: 45%;
    display: grid;
    grid-template-columns: 70% 30%;
    background-color: hsl(244, 38%, 16%);
    height: calc(353px + 5vw);
    border-radius: 10px;
}


.left {
    padding: 38px 45px;
    color: #fff;
    font-family: "Inter", sans-serif;
    height: 400px;
}

.left h1{
    font-weight: 700;
}

.left p{
    font-weight: 400;
}



.right .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
}
.stats{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    margin-top: 38px;
    text-transform: uppercase;
    
}

.parts {
    text-transform: uppercase;
}


#lower p{
    text-transform: uppercase;
}

#lower h2{
    text-transform: lowercase;
}