@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

/* variables */

:root{
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
    --white: #fff;
    --neu-trans-white: hsla(0, 0%, 100%, 0.75);
    --neu-more-trans-white: hsla(0, 0%, 100%, 0.6);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: var(--violet);
    background-image: url("./images/bg-desktop.svg");
    background-repeat: no-repeat;
    background-position: top;
    min-width: 14rem;
    color:white;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1.5rem;
    width: calc(100% - 3rem);
}

main, header{
    max-width: 70rem;
}

header{
    width: 100%;
    margin-top: 0.5em;
    margin-left: 1em;
}

.logo-brand{
    display: block;
    width: 13em;
}

.header-logo{
    width: 100%;
}

main{
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns:auto auto;
    margin-top: 6.5em;
}
.illustration > img{
    width: 42.5em;
}

.information{
    margin-top: 3em;
}
.intro-paragraph > h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2.2em;
}

.intro-paragraph > p{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5;
    margin-top: 3em;
}
